.window{
    background-color: rgb(231, 227, 222);
}
.home-screen{
    height: 100vh;
    background-image: url('car-wallpaper.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
}
.screen{
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
}
.headline{
    color: white;
    font-size: 20px;
}
.logo{
    height: 50px;
}
.price-estimater-screen{
    background-color: white;
}