.inner-screen{
    margin-left: 500px;
    /* opacity: 0.6; */
}
.window{
    background-color: rgb(231, 190, 137);
    opacity: 0.7;
}
body{
    height: 100vh;
    background-image: url('car1.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
}
.headline{
    color: white;
    font-size: 2rem;
}
.logo{
    height: 50px;
}