/* .inner-screen{
    margin-left: 500px;
    /* opacity: 0.6; */
.window{
    background-color: rgb(231, 227, 222);
    opacity: 0.8;
}
body{
    height: 100vh;
    background-image: url('car-wallpaper.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
}
/* .screen{
    height: 100vh;
    background-image: url('car1.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
} */
.headline{
    color: white;
    font-size: 20px;
}
.logo{
    height: 50px;
}